@import url('https://fonts.googleapis.com/css2?family=Poly&family=Poppins:wght@200;400&family=Risque&family=Roboto&display=swap');

* {
    margin     : 0;
    padding    : 0;
    font-family: poly;
}

body {
    background           : url("../images/bg2.png");
    background-size      : cover;
    background-position  : right;
    background-repeat    : no-repeat;
    background-attachment: fixed;
}

button {
    cursor: pointer;
}

.main {
    position       : absolute;
    margin         : auto;
    top            : 50%;
    left           : 50%;
    transform      : translate(-50%, -50%);
    width          : 98%;
    height         : 95vh;
    background     : rgba(229, 247, 255, 0.65);
    display        : flex;
    flex-direction : column;
    text-align     : center;
    justify-content: space-evenly;
}

.useraddMain {
    display: block;
}

.main h1 {
    font-style : normal;
    font-weight: bold;
    font-size  : 5vh;
    color      : #000000;
    margin     : 2vh auto;
}

.main h2 {
    font-family: 'Poly';
    font-style : normal;
    font-weight: bold;
    color      : #000000;
}

.main .container {
    margin        : auto;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    max-height    : 25vh;
    overflow      : auto;
    padding       : 2vh;
    width         : fit-content;
}

.main .container form {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}


.main .container form input {
    background   : #FFFFFF;
    border       : 1px solid rgba(0, 0, 0, 0.4);
    box-sizing   : border-box;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    line-height  : 3vh;
    padding      : 0.8vh 1vh;
    width        : 70vh;
    margin       : 2vh 3vh;
}

.useraddMain .usersadd {
    overflow: visible;
}

.useraddMain .usersadd form {
    flex-direction: column;
}


.main .container form button {
    background   : linear-gradient(180deg, rgba(54, 97, 139, 0.5) 0%, #001028 100%);
    border       : 1px solid rgba(0, 0, 0, 0.4);
    box-sizing   : border-box;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height       : 5vh;
    width        : 5vh;
}

.useraddMain .usersadd form button {
    font-weight    : 400;
    font-size      : 3vh;
    line-height    : 48px;
    color          : #FFFFFF;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 20vh;
}

.main .container::-webkit-scrollbar {
    width        : 1.5vh;
    border-radius: 2vh;
}

.main .container::-webkit-scrollbar-thumb {
    border-radius   : 2vh;
    background-color: #302a2acd;
}

.main .container ul {
    list-style: none;
}

.main .container ul li {
    margin-block: 2vh;
}

.main .container ul li a {
    display        : flex;
    padding-inline : 3vh 70vh;
    text-align     : start;
    background     : #FFFFFF;
    border         : 1px solid rgba(0, 0, 0, 0.5);
    box-sizing     : border-box;
    border-radius  : 50px;
    font-weight    : bold;
    font-size      : 2vh;
    line-height    : 5vh;
    text-decoration: none;
    color          : #000000;
    transition     : 0.2s linear;
}

.btn {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    margin         : 5vh;
}

.btn a {
    background     : linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 0%, rgba(54, 97, 139, 0.5) 0.01%, #001028 100%);
    color          : #FFFFFF;
    border         : 1px solid rgba(0, 0, 0, 0.75);
    box-sizing     : border-box;
    box-shadow     : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius  : 30px;
    width          : fit-content;
    font-weight    : normal;
    line-height    : 48px;
    text-decoration: none;
    font-size      : 3vh;
    padding        : 0 2vh;
    transition     : 0.2s linear;
}

a:hover {
    transition: 0.2s linear;
    transform : scale(0.9);
}

@media screen and (max-width: 915px) {
    .main .container ul li a {
        padding-inline: 3vh 40vh;
    }

    .main .container form input {
        width: 40vh;
    }
}

@media screen and (max-width: 632px) {
    .main .container ul li a {
        padding-inline: 3vh 20vh;
    }

    .main .container form input {
        width: auto;
    }
}

@media screen and (max-width: 419px) {
    .main .container ul li a {
        padding-inline: 3vh;
    }
}